<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
    <booleanAttribute key="fine_grained_profiling" value="false"/>
    <stringAttribute key="implementation_name" value="Parallel (Declarative operations)"/>
    <listAttribute key="models">
        <listEntry value="#Tue Apr 14 08:36:16 COT 2026&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;concurrent=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=platform\:/resource/co.edu.unicauca.hexagen/metamodels/v2/hexagonal.ecore&#13;&#10;isMetamodelFileBased=true&#13;&#10;metamodelFile=/co.edu.unicauca.hexagen/metamodels/v2/hexagonal.ecore&#13;&#10;metamodelUri=&#13;&#10;modelFile=/co.edu.unicauca.hexagen/models/LibraryV2.xmi&#13;&#10;modelUri=platform\:/resource/co.edu.unicauca.hexagen/models/LibraryV2.xmi&#13;&#10;name=HEXAGEN&#13;&#10;readOnLoad=true&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;storeOnDisposal=false&#13;&#10;type=EMF&#13;&#10;validate=false"/>
        <listEntry value="#Tue Apr 14 08:36:09 COT 2026&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;concurrent=false&#13;&#10;expand=true&#13;&#10;fileBasedMetamodelUri=platform\:/resource/co.edu.unicauca.hexagen/metamodels/v1/hexagonal%5B1%5D.ecore&#13;&#10;isMetamodelFileBased=true&#13;&#10;metamodelFile=/co.edu.unicauca.hexagen/metamodels/v1/hexagonal[1].ecore&#13;&#10;metamodelUri=&#13;&#10;modelFile=/co.edu.unicauca.hexagen/models/LibraryV1.xmi&#13;&#10;modelUri=platform\:/resource/co.edu.unicauca.hexagen/models/LibraryV1.xmi&#13;&#10;name=TOP&#13;&#10;readOnLoad=false&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;storeOnDisposal=true&#13;&#10;type=EMF&#13;&#10;validate=false"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <intAttribute key="parallelism" value="7"/>
    <listAttribute key="parameters"/>
    <booleanAttribute key="profile_model_loading" value="false"/>
    <booleanAttribute key="profiling_enabled" value="false"/>
    <booleanAttribute key="reset_profiler" value="false"/>
    <stringAttribute key="source" value="/co.edu.unicauca.hexagen/transformation/Hexagen2Hexagen.etl"/>
</launchConfiguration>
